body{
    background-color: rgb(255, 252, 248);
}
/* header section start */
.header{
    display: flex;
    background-color: aquamarine;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    align-items: center;
    padding: 8px 30px;
    gap: 100px;
}
.header-1 img{
    width: 80px;
    height: 50px;
}

.header-2 ul {
    list-style: none; 
    display: inline-block; 
}

.header-2 li {
    display: inline;
    margin-left: 50px; 
    color:rgb(96, 14, 228);
    font-size: 20px;
}
.header-2 li a{
    text-decoration: none;
}
/* header section end */


/* main section start */
main{
    max-width: 1500px;
    margin: 0px auto;
}

/* discount section start */
.discount{
    display: flex;
    background-color: rgb(200, 251, 234);
    border: 1px solid yellowgreen;
    border-radius: 10px;
    gap: 30%;
    align-items: center;
}
.discount-1{
    padding: 50px;
    margin: 10px;
}
.discount-2{
    padding: 50px;
    margin: 10px;
}
.discount-1 h1{
    font-size: 40px;
}
.discount-1 a{
    font-size: 20px;
}
.discount-1 button{
    background-color: rgb(156, 11, 246);
    color: #22f00f;
    border: 1px solid yellowgreen;
    border-radius: 8px 25px;
    padding: 10px 25px;
    font-weight: bold;
}
.discount-2 img{
    border: 1px solid yellowgreen;
    border-radius: 20px;
}
/* discount section end */

/* main body section start */
.main-body{
    max-width: 1200px;
    margin: 0px auto;
}
.head-Category{
    padding: 10px;
    background-color: rgb(190, 249, 230);
    border-radius: 15px 15px 0px 0px; 
}
.head-Category h1{
    text-align: center;
    color: #fc3aa5;
}
.similar{
    display: flex;
    gap: 10px;
    background-color: antiquewhite;
    text-align: center;
    justify-content: space-around;
    margin-top: -15px;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 50px; 
}

.similar-0{
    background-color: rgb(196, 235, 222);
    border: 1px solid yellowgreen;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.similar-0 img{
    width: 150px;
    height: 100px;
    border-radius: 40px;
    padding: 10px;
}
.similar-0 p{
    text-align: center;
}
.similar-0 button{
    background-color: hotpink;
    border: none;
    border-radius: 5px 15px;
    color: #efeaf9;
    padding: 8px 25px;
    font-weight: bold;
}
/* main body section end */


/* footer section start  */
.footer-section {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    padding: 2rem;
    background-color: #f7f7ff;
    border-radius: 1rem;
}

.footer-section-1 {
    width: 30%;
}

.footer-section-1 img {
    width: 200px;
    height: 150px;
}

.footer-section-1 p {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", serif;
}

.footer-section-2 {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.footer-section-2 li {
    list-style: none;
    margin-top: 20px;
}

.footer-section-2 a {
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter", serif;
}
.footer-section-2 a:hover {
    text-decoration:underline ;
}

.footer-section-3 a {
    margin-left: 1.5rem;
}

.footer-section-3 img {
    height: 30px;
    width: 30px;
}

/* footer section end  */


@media screen and (max-width: 576px) {

    /* header section start */
    .header{
        flex-direction: column;
        gap: 10px;
    }
    .header-1{
        padding-left: 20px;
    }
    .header-1 h1{
        font-size: 18px;
        padding: 5px; 
    }

    .header-2 ul {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .header-2 li {
        display: block;
        margin-left: 0px; 
        font-size: 18px;
        padding: 10px;
    }

    /* header section end */

    /* main section start */
    main{
        max-width: 520px;
        margin: 0px auto;
    }

    /* discount section start */
    .discount{
        flex-direction: column;
        gap: 20px;
    }
    .discount-1{
        padding: 20px;
        margin: 10px;
    }
    .discount-2{
        padding: 20px;
        margin: 10px;
    }

    /* discount section end */

    /* main body section start */
    .main-body{
        max-width: 520px;
        margin: 0px auto;
    }
    .similar{
        flex-direction: column;
        gap: 10px;
        margin-top: -15px;
        padding: 15px;
        margin-bottom: 20px; 
    }

    .similar-0{
        margin: 10px;
        padding: 10px;
    }
    .similar-0 img{
        width: 120px;
        height: 100px;
    }

    /* main body section end */

    /* footer section start  */
    .footer-section {
        max-width: 600px;
        flex-direction: column;
    }

    .footer-section-1 {
        width: 100%;
    }

    .footer-section-2 {
        flex-direction: column;
        width: 100%;
    }

    .footer-section-2 a {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: -2rem;
    }

    .footer-section-3 {
        width: 100%;
        margin-top: 1rem;
        margin-left: -2rem;
    }

    .footer-section-3 img {
        height: 30px;
        width: 30px;
    }

    /* footer section end  */

}